@page
@model AboutModel
@{
    ViewData["Title"] = "About";

	var dateTime = DateTime.Today;


}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>Use this area to provide additional information.</p>

<alert>This is an alert</alert>


<datetime asp-style="Date" asp-for="dateTime"></datetime>
